header{
    padding-top: 32px;
    padding-bottom: 8px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
}
@media (max-width:1024px){
    .navbar{
        padding:16px;
        padding-bottom: 0;
    }   
    header{
        padding:0;
    }
}

.logo-wrapper{
    display: flex;
    align-items: center;
}

.logo-img{
    height:16px;
    width: 16px;
    margin-right: 8px;
}

.logo{
    margin:0;
    font-size: 16px;
}

.nav-list{
    margin: 0;
    padding: 0px;
    display:flex;
    gap:32px;
}

@media (max-width:480px){
    .nav-list{
        display: none;
    }
}

.nav-link{
    color: var(--gray);
    text-decoration: none;
}

.nav-link[href="index.html"]{
    color:var(--white);
}

.nav-link::before{
    content:"#";
    color:var(--primary);
    margin-right: 1px;
}

.main-container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 112px;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
    margin-top: 62px;
}

@media (max-width:1024px){
    .main-container{
       padding: 16px;
    }   
    .hero{
       flex-direction: column;
       margin-top: 34px;
    }
   }

.hero-content{
    flex: 1;
}

.hero-content h2{
    
    font-size: 32px;
}

.hero-content span{
    color: var(--primary);
}

.hero-content p{
    
    margin-bottom: 24px;
    padding: 0;
}

@media (max-width:1024px){
    .hero-content p{
        padding:0;
    }
    .contact-button{
        display:none;
    }
}

.hero-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-note-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--gray);
    padding: 8px;
    width:402px;
}

@media (max-width:480px){
    .hero-image{
        padding:0 22px;
    }
    .hero-image img, .portfolio-note-wrapper{
        width: 100%;   
    }
}

.purple-square{
    width: 16px;
    height: 16px;
    background-color: var(--primary);
}

.portfolio-note{
    font-size: 16px;
    margin: 0px;
}

.portfolio-note span{
    color: var(--white);
    font-weight: bold;
}

/* Quote section */

.quote{
    text-align: center;
    border: 1px solid var(--gray);
    margin: 0 auto;
    position: relative;
}

.quote blockquote{
    color: var(--white);
    font-size: 24px;
    padding:32px;
    margin: 0;  
}

.quote blockquote::before, .quote blockquote::after{
    content: '"';
    position: absolute;
    color: var(--gray);
    font-style: italic;
}

.quote blockquote::before{
    top: -8px;
}

.quote blockquote::after{
    top: 85px;
    right: 30px;
}

.quote figcaption{
    position:absolute;
    color: var(--white);
    font-size: 24px;
    padding:16px;
    border: 1px solid var(--gray);
    right:-1px;
    border-top: none;
}

@media (max-width:480px){
    .quote blockquote{
        font-size: 18px;
        padding:24px;
    }
    .quote figcaption{
        font-size: 18px;
    }
}

/*social-links*/
.social-links{
    position:fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left:17px;
    top:0px;
    gap:8px;
}

.burger-icon{
    display:none;
}

@media (max-width:480px){
    .social-links{
        display: none;
    }
    .burger-icon{
        display:block;
    }
}

@media (max-width:1024px){
    .social-links{
        display: none;
    }
}

.social-links-line{
    width: 1px; 
    height:191px;
    background-color: var(--primary);
}
.social-links ul{    
    margin:0;
    padding:0;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:8px;
}

/* projects section */
.projects{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.section-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.section-header a{
    text-decoration: underline;
}
.section-header h2{
     position: relative;
}

.section-header h2:before{
    content:"#";
    color:var(--primary);
}
.section-header h2:after{
    content:"";
    background-color:var(--primary);
    width: 500px;
    height: 1px;
    position:absolute;
    right: -16px;
    top:50%; 
    transform: translate(100%, -50%);
    
}
@media (max-width:1024px){
    .section-header h2::after{
        display: none;
    }
}

.section-header a {
    color:var(--white);
}

.projects-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:16px;
    align-items: start;
}

@media (max-width:480px) {
    .projects-cards{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
}


.projects-card, .projects-card img{
    border: 1px,solid,var(--gray);
    
}

.projects-card img{
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;

}
.projects-card ul{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--gray);
    border-bottom: 1px solid var(--gray);
    margin: 0px;
    padding: 8px;
}

.project-info{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.project-info h3{
    font-size: 24px;
    margin: 0;
}

.project-info p{
    padding: 0;
}

/* skills section */

.skills{
    display: flex;
    flex-direction: column;
    gap: 12px;  
}
.skills h2:after{
    width:239px;
}
.skills-content{
    display: flex;
    justify-content: space-between;
}

.skills-cart{
     display: flex;
     gap: 16px;   
}

.img-skills{
    margin-left:32px;
}
@media (max-width:480px) {
    .img-skills{
        display: none;
    }
    .skills-content, .skills-cart{
        flex-direction: column;
    }
}

@media (max-width:1024px) {
    .img-skills{
        display: none;
    }
}

.skill-group{
     display: flex;
     flex-direction: column;
     gap: 16px;
}
.skill-category{
     border: 1px solid var(--gray);
     max-width: 300px;
     min-width: 200px;
}

.skill-category h4{
    padding: 8px;
    border-bottom: 1px solid var(--gray);
    margin: 0;
}

.skill-category ul{
padding: 8px;
display: flex;
gap: 8px;
color: var(--gray);
margin: 0;
flex-wrap: wrap;
}

@media (max-width:480px) {
    .skill-category{
        width: 100%;
    }
}


/* about-me */
.about-me{
    max-width: 1024px;
}

.about-me h2{
    margin:0;
}

.about-me h2::after{
    width:326px;
}  

.about-me-content{
    display:flex;
    justify-content: space-between;
}

.about-me-text{
    max-width: 515px;
    max-height: 376px;
    align-content: center;
}

.about-me-text p{
    padding:0;
    margin-bottom: 27px;
}

.about-me-image{
    max-width: 343px;

}

@media (max-width:480px) {
    .about-me-content{
        flex-direction: column;
    }
    .about-me-content img{
        display: none; 
    }
    .about-me-text{
        margin-top:32px;
    }
}


@media (max-width:1024px) {
    .about-me-content img{
        max-height: 350px;
    }
    .about-me-text{
        margin-top:32px;
    }
}

/* contacts */
.contacts-content{
    display: flex;
    justify-content: space-between;
    margin-top:45px;
}
.contacts-content p { 
    max-width: 505px;
    margin-top:0;
}
.contacts-details-wrapper{
    border: 1px solid var(--gray);    
    padding:16px;
}

.contacts-details-wrapper h4{
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 600;
}

.contact{
    color: var(--gray);
    display:flex;
    gap:9px;
    align-items: center;
    margin-top:8px;
}
@media (max-width:480px) {
    .contacts-content{
        flex-direction: column;
        gap:10px;
    }
}

/* footer section */
footer{
    border-top: 1px solid var(--gray);
    margin-top: 145px;
    padding: 32px 0;
}
.footer-container{
    max-width: 1024px;
    margin:0 auto;
}
@media (max-width:480px){
    .footer{
        margin-top: 45px;
        padding: 16px 0;
    }

    .footer-content{
    flex-direction: column;
    gap:16px;
    }
    
}

@media (max-width:1024px){
    .footer-container{
        padding:16px;
    }
}
.footer-content{
    display: flex;
    justify-content: space-between;
}


.footer-logo{
    display: flex;
    align-items: center;
    gap: 9px;
}
.footer-logo h4{
    margin: 0;
}

.footer-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-wrapper a{
 color: var(--gray);
 font-weight: 400;
}

.footer-info p{
    color: var(--white);
    margin-top: 16px;
    padding:0;
}

.footer-media h3{
    margin-top: 0px;
    margin-bottom:12px;
    font-weight: 500;
    font-size:24px;
}

.copyright{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 32px;
}


/* works-page-title */

/* new-css-content-start */
.section-header-wrapper h2::before{
    content: "/";
}

.section-header-wrapper h2::after{
    display: none;
}

.section-header-wrapper span{
    color: var(--white);
    padding:0;
}


.complete-card-section {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.complete-card-section h2::after{
    display: none;
}

.complete-card-section h2{
    margin:0;
}


/* new-css-content-end */

/* About-Me-Page */
/* newcontentstart */
.about-me-details{
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
}
.aboutme-wrapper{
    align-content: center;
    max-width: 515px;
    
}
.aboutme-wrapper p{
    padding:0px;
}

@media (max-width:480px) {
    .about-me-details img{
        display: none;
    }
 }
 
/* newcontentend */
.section-header2 h3{
    font-weight: 500;
    font-size:larger;
    margin:0;
    padding:0;

}
.section-header2 h3:before{
    content: "#";
    color: var(--primary);
}

/* small-project-section */
.small-projects {
    display: flex;
    flex-direction: column;
    gap: 48px;

}

.small-projects-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}
.small-projects-content h2::after{
    display: none;
}

.small-projects-row{
    display: flex;
    gap:8px;
    align-items: start;
}
@media (max-width:480px) {
    .small-projects-row{
        flex-direction: column;
        gap:12px;
    }
}


.small-projects-card{
    border: 1px solid var(--gray);
    max-width: 331px;
    max-height: 232px;    
}

.small-projects-card ul{
    color: var(--gray);
    display: flex;
    gap:8px;
    margin:0;
    padding:8px;
    border-bottom: 1px solid var(--gray);
    font-weight: 400;
    
}

.small-projects-card h3,p{
    margin:0px;
    padding: 8px 16px;
}

.btn-wrapper{

    padding:8px 16px;
}

    /* small-projects-grid-testing */

    .small-projects-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:8px;
    }

    .small-projects-card1{
        border: 1px solid var(--gray);
    }

    .small-projects-card1 ul{
        color: var(--gray);
        display: flex;
        gap:8px;
        margin:0;
        padding:8px;
        border-bottom: 1px solid var(--gray);
        font-weight: 400;
        
    }

    .small-projects-card1 h3{
        margin:0px;
        padding: 8px 16px;
    }
/* About-Me-Page */


.about-me-wrapper{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}
.about-me-wrapper p{
    padding:0;
}
.about-me-wrapper h2::after{
    display: none;
}
.about-me-wrapper h2::before{
    content:"/";
}

.about-me-page-content{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.about-me-page-content p{
    max-width: 515px;
}


/* .about-me-skills */

.about-me-skills{
    display: flex;
    flex-direction: column;
    gap:48px
}

.about-me-skills h2:after{
    display: none;

}

.skills-content2{
    display: flex;
    align-items: start;
    gap:16px;
}

@media (max-width:480px) {
    .skills-content2{
        flex-direction: column;
    }
}

@media (max-width:1024px) {
    .skills-content2{
        flex-wrap: wrap;
    }
}

/* fun-facts-section */
.fun-facts-section{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.fun-facts-section h2::after{
    display: none;
}

.fun-facts-content{
    display: flex;
    justify-content: space-between;
    gap:156px;
}
.div-wrapper{
    color:var(--gray);
    gap:16px;
    display: flex;
    flex-wrap: wrap;
}
.div-wrapper div{
    border: 1px solid var(--gray);
    align-content: center;
    font-weight: 400;
    padding:8px;
}
@media (max-width:480px) {
    .fun-facts-section img{
        display:none;
    }
    .div-wrapper div{
        width:100%;
    }
}

@media (max-width:1024px) {
    .fun-facts-section img{
        display:none;
    }
}



/* Contacts-page */
/* .contacts-main-container{
    display: flex;
    flex-direction: column;
    gap:46px;
    max-width: 1024px;;
    margin:0 auto;
} */

.contacts-content{
    display: flex;
    align-content: start;
}
.contacts-content p{
    margin:0;
    padding:0;
}
.contact-info{
    display: flex;
    gap:11px;
}
@media (max-width:480px) {
    .contact-info{        
        flex-direction: column;
        gap:32px;
    }
    
}

.support-me-info{
    border: 1px solid var(--gray);
    align-self: self-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:16px;
    align-items: center;
}
.support-me-info h4{
    margin:0;

}
.support-me-info p{
    margin-top:8px;

}



.media-content-wrapper{
    display: flex;
    margin-top: 27.5px;
    gap:22px;
}
.media-content-wrapper div{
    display: flex;
    align-items: center;
    
}

@media (max-width:480px) {
    .main-container{
        gap:70px;
    }
    
}